@use '../abstracts/colors' as c;

::selection,
::-moz-selection {
  background: rgba(c.$green, 0.75);
  color: c.$white;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

input,
select,
textarea {
  &::-webkit-calendar-picker-indicator,
  &::-webkit-list-button {
    display: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    transition-delay: 5000s;
  }

  &::-ms-clear,
  &::-ms-expand {
    visibility: hidden;
    display: none;
  }
}

input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
