$white: #fff;
$gray-10: #ccd1dd;
$gray-30: #838795;
$gray-50: #424959;
$gray-70: #323846;
$gray-90: #262e3e;
$black: #111;

$green: #31e184;
$olive: #94c02f;

$cyan: #38e8de;
$cyan-30: #19d8cd;
$cyan-50: #67dfd8;

$blue: #386ae8;
$blue-30: #507ef2;
$blue-10: #4975e3;

$red: tomato;



// // primary color scheme
// $bg    : #262e3e;
// $bgalt : #2c3445;
// $medi  : #323846;
// $lite  : #3b414e;

// // bright colors.
 // text color
// $cyan  : #38e8de;
// $blue  : #386ae8;
// $tomato : tomato;

// // button detail colors.
// $btnshadow   : $bg;
// $btndisabled : $medi;
//   $bluHover  : #507ef2;
//   $bluActive : #4975e3;
//   $cyaHover  : #67dfd8;
//   $cyaActive : #19d8cd;

// // form element colors
// $inputbg : #424959;
// $inputselected : $lite;
// $hr : $inputbg;

// $popout : 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);

// // extra.
// $olive: #94c02f;

// // fonts

//   $textcolor : $wit;
//   $textmuted : #838795;
